<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light">
    <title>{{ cv.personal.name }} - CV</title>
    <meta name="robots" content="noindex, nofollow, noai, noimageai">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    {%- css %}* { box-sizing: border-box; }{% endcss %}
    {%- css %}{% include "public/css/cv.css" %}{% endcss %}
    <style>{% getBundle "css" %}</style>
  </head>
  <body>
    <header>
      <div>
        <h1>{{ cv.personal.name }}</h1>
        <p>
          {{ cv.personal.title }}<br>
          {{ cv.personal.location }}<br>
          {{ cv.personal.email }}<br>
          <a href="{{ cv.personal.linkedin }}">linkedin.com/in/reuski</a>
        </p>
        <div class="languages">
          {% for item in cv.personal.languages %}
            <span>{{ item.language }} ({{ item.level }})</span>
          {% endfor %}
        </div>
      </div>
      <img src="/images/cv.webp" width="180" height="180" alt="{{ cv.personal.name }}">
    </header>
    <main>
      <section>
        <h2>About</h2>
        {{ content | safe }}
      </section>
      <section>
        <h2>Skills</h2>
        <div class="skills-grid">
          <div class="skills-col">
            <h3 class="skills-heading">Human</h3>
            {% for item in cv.skills %}
              {% if item.category == "Human" %}
                <div>
                  <strong>{{ item.title }}</strong>
                  <p>{{ item.description }}</p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="skills-col">
            <h3 class="skills-heading">Machine</h3>
            {% for item in cv.skills %}
              {% if item.category == "Machine" %}
                <div>
                  <strong>{{ item.title }}</strong>
                  <p>{{ item.description }}</p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
      <section>
        <h2>Experience</h2>
        {% for item in cv.experience %}
          <article>
            <h3>{{ item.employer }} <span>-- {{ item.title }}</span></h3>
            <p><time>{{ item.time }}</time></p>
          </article>
        {% endfor %}
      </section>
      <section class="education">
        <h2>Education</h2>
        {% for item in cv.education %}
          <article>
            <h3>{{ item.degree }} <span>-- {{ item.school }}, {{ item.time }}</span></h3>
          </article>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
