:root {
  --color-white: #fff;
  --color-black: #010101;
  --color-grey: #333;
  --color-link: #36454f;
  --color-link-hover: #556270;
  --font-title: Moon, sans-serif;
  --font-text: system-ui, sans-serif;
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: "Moon";
  src: url("/fonts/moon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
  line-height: 1.5;
  color: var(--color-black);
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

h1, h2, h3, h4, p, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

header {
  color: var(--color-white);
  background: linear-gradient(var(--color-black), var(--color-grey));
  padding: 2rem 0;
  margin-bottom: 1rem;
}

section {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 0 auto;
}

header h1 {
  font-family: var(--font-title);
  font-weight: normal;
  font-size: 4.2rem;
  line-height: 1;
  word-spacing: -1.5rem;
}

header h2 {
  font-weight: normal;
  margin: 0 0 2rem;
}

header img {
  border-radius: 100%;
  margin: 0 auto;
}

main {
  position: relative;
  color: var(--color-grey);
  font-size: 1.25rem;
  line-height: 1.6;
  background: var(--color-white);
  margin-bottom: 2rem;
}

main p {
  max-width: 34rem;
  margin-bottom: 1rem;
}

main a {
  border-bottom: 2px solid var(--color-link);
  transition: border-color 250ms var(--ease);
}

main a:hover {
  border-color: var(--color-link-hover);
}

footer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

footer svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-link);
  transition: fill 250ms var(--ease);
}

footer a:hover svg {
  fill: var(--color-link-hover);
}

@media (min-width: 800px) {
  header {
    padding-bottom: 4.5rem;
    margin-bottom: -6.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6.5rem));
  }

  header section {
    display: flex;
  }

  header h2 {
    text-align: right;
    margin: 0;
  }

  header img {
    margin-left: auto;
  }

  main {
    margin-top: 6.5rem;
    padding-bottom: 2rem;
  }
}
